*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
 .main{
    width: 100%;
    background-color: #140F2D;
}
.home{
    height: 100vh;
    width: 100%;
}
nav{
    height: 80px;
    width: 100%;
}
label.logo{
    line-height: 80px;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    padding: 0 8%;

}
nav ul{
    float: right;
    margin-right: 40px;
    line-height: 80px;
    display: block;


}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    color: #fff;
    font-size: 24px;
    margin: 14px 27px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Ariel;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

a:hover{
    color:aqua;
}
.container{
    padding: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    
}
.text{
    color: #fff;
    font-size: xx-large;
}
.text1{
    font-size: 24px;
    /* opacity: 80%; */
}
.name{
    font-size: 32;
    font-weight: bold;
    line-height: 1;
}

.text2{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* opacity: 50%; */
}
img{
    border-radius: 50%;
}
.about{
    position: static;
    height: 100Vh;
    color: #fff;
    background-color: #000;
    font-size: x-large;
}
.about-text{
    border-radius: 20px;
    background-color: #788475;
    position: static;
    margin: 10%;
    font-size: 32px;
}
.abt{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.services{
    height: 100vh;
    
    margin-top: 80px;
    /* background-color: #000; */
    color: #fff;
}
.service{
    font-size: 56px;
}
.service-cards{
    position: static;
    margin: 10%; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center; 
}
.service-card{
    background-color: #788475;
    height:200px;
    width: 250px;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 35PX;
}
.service-card-image{
    border-radius: 20px 20px 0 0;
    width:250px;
    height: 160px;
}
.service-text{
    text-align: center;
    font-size: larger;
}
.contact{
    height: 100vh;
    color: #fff;
}
form{
    position: static;
    margin: 10%;
}
input{
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 14px;
}
textarea{
    height: 150px;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 14px;
}
button[type="submit"]{
    color: #000;
    font-size: xx-large;
    border-radius: 5px;
}
button[type="submit"]:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(72, 120, 232);
}
.footer{
    background-color: #000;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{

    color: rgb(255, 255, 255);
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 40px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media ( max-width: 925px ){

    .nav{
        margin: auto;
    }
    label.logo{
        font-size: 30px;
    }
    nav ul li a{
        font-size: 14px;
        margin: 10px 20px;
    }
    .services{
        height: 100vh;
        /* background-color: #000; */
        color: #fff;
    }
    .service{
        font-size: 40px;
    }

    .service-text{
        text-align: center;
        font-size: larger;
    }
}
@media ( max-width: 663px ){
    .checkbtn{
        display: block;
        margin-right: 35px;
    }
    nav{
        background: #2c3e50;

    }

   nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    .home{
        height: 120vh;
    }
    .about{
        height: 120vh;
    }

    .container{
        padding: 10%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: left;
        flex-wrap: wrap;
        
    }
    .text{
        color: #fff;
        font-size: xx-large;
    }
    .text1{
        font-size: 24px;
        /* opacity: 80%; */
    }
    .name{
        font-size: 32;
        font-weight: bold;
        line-height: 1;
    }
    
    .text2{
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* opacity: 50%; */
    }
    img{
        border-radius: 50%;
    }
    .about{
        position: static;
        height: 60Vh;
        color: #fff;
        background-color: #000;
        font-size: large;
    }
    .about-text{
        border-radius: 20px;
        background-color: #788475;
        position: static;
        margin: 8%;
        font-size: 14px;
    }
    .abt{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .services{
        height: 170vh;
        
        margin: 14px;
        /* background-color: #000; */
        color: #fff;
    }
    .service{
        font-size: 36px;
    }
    .service-cards{
        position: static;
        margin: 10%; 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        align-items: center; 
    }
    .service-card{
        background-color: #788475;
        height:200px;
        width: 250px;
        border-radius: 20px;
        margin-left: 15px;
        margin-bottom: 35PX;
    }
    .service-card-image{
        border-radius: 20px 20px 0 0;
        width:250px;
        height: 160px;
    }
    .service-text{
        text-align: center;
        font-size: larger;
    }
    .contact{
        height: 80vh;
        color: #fff;
    }
    form{
        position: static;
        margin: 10%;
    }
    input{
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 10px;
        padding-left: 14px;
    }
    textarea{
        height: 150px;
        width: 100%;
        font-size: 14px;
        border-radius: 10px;
        padding-left: 14px;
    }
    button[type="submit"]{
        color: #000;
        font-size: xx-large;
        border-radius: 5px;
    }
    button[type="submit"]:hover{
        color:rgb(255, 255, 255);
        background-color: rgb(72, 120, 232);
    }
    .footer{
        background-color: #000;
        color: #fff;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
    
        color: rgb(255, 255, 255);
    }
    .footer{
        background-color: #000;
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #check:checked ~ ul{
        left: 0;
    }

}